                    @font-face {
                        font-family: 'icomoon';
                        src: url('fonts/icomoon.eot?9f7p7u');
                        src: url('fonts/icomoon.eot?9f7p7u#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?9f7p7u') format('truetype'), url('fonts/icomoon.woff?9f7p7u') format('woff'), url('fonts/icomoon.svg?9f7p7u#icomoon') format('svg');
                        font-weight: normal;
                        font-style: normal;
                    }
                    
                    .body {
                        background-color: #fff;
                    }
                    
                    .evemode {
                        background-image: linear-gradient(#081977, #0a4675 10%, #fff);
                    }
                    
                    .f-sm {
                        font-size: 12px;
                    }
                    
                    .f-sm:hover {
                        color: rgb(227, 51, 51);
                    }
                    
                    .w {
                        width: 1200px;
                        margin: 0 auto;
                    }
                    
                    .shortcut {
                        height: 30px;
                        line-height: 30px;
                        background-color: rgba(241, 241, 241, 255);
                        font-size: 12px;
                        position: relative;
                    }
                    
                    .shortcut .w {
                        height: 30px;
                    }
                    
                    .skin {
                        display: block;
                        height: 30px;
                        width: 50px;
                        background-image: linear-gradient(#ff98001f, #fff);
                        color: #333;
                        position: absolute;
                        top: 0;
                        right: 50px;
                        text-align: center;
                        line-height: 30px;
                    }
                    
                    .sc-r,
                    .sc-l {
                        float: left;
                        width: 538px;
                        height: 30px;
                    }
                    
                    .sc-r span {
                        margin-right: 10px;
                    }
                    
                    .sc-r a {
                        color: rgb(200, 22, 35);
                    }
                    
                    .sc-l ul li {
                        display: inline;
                        margin-right: 16px;
                    }
                    
                    .arrow-icon::after {
                        content: '\e91e';
                    }
                    
                    .search {
                        height: 106px;
                    }
                    
                    .f1 {
                        float: left;
                        width: 220px;
                        height: 106px;
                        position: relative;
                    }
                    
                    .f1 img {
                        width: 175px;
                        height: 55px;
                        margin: 27px 47px 24px 0px;
                    }
                    
                    .f2 {
                        float: left;
                        width: 753px;
                        height: 106px;
                    }
                    
                    .f2 div {
                        width: 540px;
                        height: 35px;
                        margin: 27px 110px 0px 127px;
                    }
                    
                    .f2 input {
                        width: 456px;
                        height: 35px;
                        border: 2px rgb(177, 25, 26) solid;
                        vertical-align: bottom;
                        float: left;
                        outline: none;
                    }
                    
                    .f2 div span {
                        display: inline-block;
                        width: 80px;
                        height: 35px;
                        background-color: rgb(177, 25, 26);
                        text-align: center;
                        line-height: 35px;
                        font-size: 16px;
                        color: #fff
                    }
                    
                    .f2 ul {
                        position: relative;
                        left: 130px
                    }
                    
                    .f2 ul li {
                        display: inline-block;
                        text-align: center;
                        margin: 0px 10px;
                    }
                    
                    .f3 {
                        width: 227px;
                        height: 106px;
                        float: left;
                    }
                    
                    .f3 div {
                        width: 140px;
                        height: 35px;
                        position: relative;
                        text-align: center;
                        line-height: 35px;
                        background-color: #f7f7f7;
                        top: 27px;
                        border: 1px rgb(223, 223, 223) solid;
                    }
                    
                    .car {
                        font-family: 'iconmoon';
                        margin-left: 5px;
                    }
                    
                    .arrow {
                        font-family: 'iconmoon';
                        margin-left: 15px;
                    }
                    
                    .count {
                        position: absolute;
                        top: -20px;
                        left: 121px;
                        font-family: 'iconmoon';
                        background-color: red;
                        border-radius: 180px 180px 329px 0px;
                    }
                    
                    .nav {
                        height: 45px;
                        border-bottom: 2px red solid;
                    }
                    
                    .nav .w div,
                    .d-nav-frist {
                        width: 210px;
                        height: 45px;
                        float: left;
                        background-color: #b1191a;
                        text-align: center;
                        font-size: 16px;
                        color: #fff;
                        line-height: 45px;
                        ;
                    }
                    
                    .nav .w ul {
                        float: left;
                    }
                    
                    .nav .w ul li {
                        width: 123.75px;
                        height: 45px;
                        float: left;
                        text-align: center;
                        line-height: 45px;
                        font-size: 16px;
                    }
                    
                    .menu {
                        height: 475px;
                    }
                    
                    .itembox {
                        width: 210px;
                        height: 475px;
                        float: left;
                    }
                    
                    .itembox ul li {
                        height: 31.666px;
                        line-height: 31.666px;
                        background-color: #c81623;
                        padding: 0px 10px;
                        transition: background-color, padding-left 1s;
                    }
                    
                    .itembox li a {
                        color: #fff;
                        font-size: 14px;
                    }
                    
                    .itembox li:hover {
                        padding-left: 20px;
                        background-color: #fff;
                    }
                    
                    .itembox li:hover a {
                        color: red;
                    }
                    
                    .itembox ul li i {
                        font-family: 'iconmoon';
                        font-size: 18px;
                        float: right;
                        color: #fff;
                    }
                    
                    .focus1 {
                        width: 721px;
                        height: 455px;
                        margin: 10px 9.5px;
                        position: relative;
                        float: left;
                        overflow: hidden;
                    }
                    
                    .focus1 img {
                        width: 721px;
                        height: 455px;
                    }
                    
                    .focus1 ul a {
                        width: 721px;
                        height: 455px;
                        margin: 10px 9.5px;
                        position: relative;
                        float: left;
                        overflow: hidden;
                    }
                    
                    .focus1 ul {
                        width: 3000px;
                        position: relative;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                    
                    .focus1 ul li {
                        float: left;
                    }
                    
                    .focus1 ol {
                        position: absolute;
                        bottom: 10px;
                        left: 20px;
                    }
                    
                    .focus1 ol li {
                        float: left;
                        border: #fff 2px solid;
                        width: 10px;
                        height: 10px;
                        margin-left: 5px;
                    }
                    
                    .circle-current {
                        background-color: #fff;
                    }
                    /* vertical-align: bottom; */
                    
                    .arrow-tl {
                        width: 30px;
                        height: 50px;
                        background-color: rgba(201, 167, 167, 0.3);
                        font-size: 18px;
                        font-family: 'iconmoon';
                        text-align: center;
                        line-height: 50px;
                        color: #fff;
                        position: absolute;
                        top: 50%;
                        z-index: 1;
                        display: none;
                    }
                    
                    .arrow-tr {
                        width: 30px;
                        height: 50px;
                        background-color: rgba(0, 0, 0, .3);
                        font-size: 18px;
                        font-family: 'iconmoon';
                        text-align: center;
                        line-height: 50px;
                        color: #fff;
                        position: absolute;
                        top: 50%;
                        left: 96%;
                        z-index: 1;
                        display: none;
                    }
                    
                    .focus1 ol li {
                        z-index: 1;
                    }
                    
                    .focus2 {
                        width: 250px;
                        height: 475px;
                        float: left;
                        /* background-color: red; */
                        margin: 10px auto;
                    }
                    
                    .f2-news {
                        width: 250px;
                        height: 164px;
                        background-color: #fff;
                        border: #ccc 1px solid;
                    }
                    
                    .f2-news div {
                        height: 30px;
                        font-family: 'iconmoon';
                        line-height: 30px;
                        background-color: #fff;
                        position: relative;
                        border-bottom: #ccc 1px solid;
                    }
                    
                    .f2-news div span {
                        display: block;
                        margin-left: 17px;
                    }
                    
                    .f2-news div a {
                        position: absolute;
                        left: 195px;
                    }
                    
                    .f2-news li {
                        height: 20%;
                        font-size: 16px;
                        color: #333;
                        text-align: center;
                        line-height: 26.8px;
                    }
                    
                    .f2-st {
                        height: 209px;
                        background-color: #fff;
                        border-right: 1px #ccc solid;
                    }
                    
                    .f2-st ul {
                        width: 252px;
                        overflow: hidden;
                    }
                    
                    .f2-st li {
                        float: left;
                        border-bottom: 1px #ccc solid;
                        border-left: 1px #ccc solid;
                        width: 63px;
                        height: 71px;
                        text-align: center;
                    }
                    
                    .f2-st li:hover {
                        color: red;
                    }
                    
                    .f2-st li i {
                        display: inline-block;
                        width: 24px;
                        height: 28px;
                        /* background-color: pink; */
                        margin-top: 12px;
                        background: url(../images/icons.png) no-repeat -19px -15px;
                    }
                    
                    .f2-st a {
                        width: 49px;
                        height: 51.5px;
                    }
                    
                    .focus2 img {
                        width: 250px;
                        height: 75px;
                        background-color: pink;
                        margin-top: 6px;
                    }
                    
                    .recommend {
                        height: 163px;
                        margin: 10px auto;
                    }
                    
                    .recommend-td {
                        width: 205px;
                        height: 163px;
                        background-color: #5c5251;
                        padding-top: 20px;
                        float: left;
                    }
                    
                    .recommend-td img {
                        z-index: 2;
                        margin: 10px 67px;
                    }
                    
                    .recommend-td p {
                        z-index: 2;
                        text-align: center;
                        font-size: 18px;
                        color: #fff;
                    }
                    
                    .recommend-ob {}
                    
                    .recommend-ob li {
                        width: 248.75px;
                        height: 163px;
                        float: left;
                        background-color: #ebebeb;
                    }
                    
                    .recommend-ob img {
                        width: 248.75px;
                        height: 143px;
                        margin: 10px 0px;
                        border-right: 1px#ccc solid;
                    }
                    
                    .recommend-ob .last {
                        border: none;
                    }
                    /* .love {
                            height: 260px;
                            margin: 30px auto;
                            background: olive;
                        }
                        
                        .love-ob {
                            width: 200px;
                            height: 260px;
                            float: left;
                            background: red;
                        } */
                    
                    .main {
                        height: 392px;
                        background-color: #fff;
                        margin-top: 30px;
                    }
                    
                    .main-nav {
                        height: 30px;
                        border-bottom: 2px red solid;
                        position: relative;
                    }
                    
                    .main-nav p {
                        display: inline;
                        font-size: 18px;
                        color: red;
                    }
                    
                    .main-nav ul {
                        position: absolute;
                        top: 0px;
                        left: 538px;
                        float: left;
                    }
                    
                    .main-nav ul li {
                        width: 73.5px;
                        float: left;
                        text-align: center;
                        line-height: 30px;
                    }
                    
                    .main-nav ul li a {
                        margin: 0px 15px;
                    }
                    
                    .main-nav .main-menu {
                        height: 360px;
                        background-color: pink;
                    }
                    
                    .m-m-item1 {
                        width: 209px;
                        height: 360px;
                        float: left;
                        background-color: #fff;
                    }
                    
                    .m-m-item1 li {
                        width: 85px;
                        height: 30px;
                        margin: 5px 9px;
                        float: left;
                        text-align: center;
                        border-bottom: 1px #ccc solid;
                        line-height: 32px;
                        color: #333;
                    }
                    
                    .m-m-item1 .qumian {
                        margin: auto auto;
                        border: none;
                    }
                    
                    .float-tr {
                        transition: all 0.5s;
                    }
                    
                    .float-tr:hover {
                        padding-left: 10px;
                    }
                    /* .m-m-item1 li a {} */
                    
                    .m-m-item2 {
                        width: 330px;
                        height: 360px;
                        margin: auto 5px;
                        float: left;
                    }
                    
                    .m-m-item3 {
                        width: 650px;
                        height: 360px;
                        float: left;
                    }
                    
                    .m-m-item3 li {
                        float: left;
                        width: 33.33%;
                        height: 360px;
                        border-right: 1px #ccc solid;
                        overflow: hidden;
                    }
                    
                    .m-m-item3 li img {
                        border-bottom: 1px #ccc solid;
                    }
                    
                    .imf {
                        width: 100%;
                        height: 417px;
                        background-color: #f5f5f5;
                    }
                    
                    .promission {
                        height: 110px;
                        border-bottom: 1px #ccc solid;
                    }
                    
                    .promission ul li {
                        width: 20%;
                        height: 110px;
                        float: left;
                    }
                    
                    .promission ul li div {
                        margin: 28px auto;
                    }
                    
                    .promission ul li i {
                        width: 52px;
                        height: 52px;
                        float: left;
                        margin: 0px 10px 28px 35px;
                        background: url(../images/icons.png) no-repeat -251px -1px;
                    }
                    
                    .promission ul li div div {
                        margin: 35px auto;
                    }
                    
                    .promission ul li span {
                        display: inline-block;
                        margin-top: 5px;
                    }
                    
                    .help {
                        height: 190px;
                        border-bottom: 1px #ccc solid;
                    }
                    
                    .help ul li {
                        width: 200px;
                        height: 170px;
                        text-align: center;
                        margin: 10px auto;
                        float: left;
                    }
                    
                    .help ul li ul li {
                        height: 24.28px;
                        text-align: center;
                        float: left;
                    }
                    
                    .help ul li ul li p:nth-child(1) {
                        font-size: 16px;
                    }
                    
                    .help ul li ul li p:hover {
                        color: red;
                    }
                    
                    .help ul li ul .code {
                        width: 94px;
                        height: 95px;
                        margin: -2px 52.5px;
                    }
                    
                    .otherimf p {
                        text-align: center;
                        margin: 20px;
                    }